# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.hatch/

# Coverage
.coverage
coverage.xml
htmlcov/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# MkDocs
site/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
